@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <button type="button" class="btn btn-danger btn-lg btn-block"><a class="text-white" href="Usuario">Usuario</a></button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a class= "text-white" href="Tarea">Tarea</a></button>
    <button type="button" class="btn btn-success btn-lg btn-block"><a class = "text-white" href="Tablero">Tablero</a></button>
    <button type="button" class="btn btn-primary btn-lg btn-block"><a class = "text-white" href="Login">Login</a></button>
</div>